interactions:
- request:
    body: '{"filter": {"or": [{"property": "Status", "select": {"equals": "In progress"}},
      {"property": "Priority", "number": {"equals": 1}}]}}'
    headers:
      authorization:
      - Bearer secret_VYG3FR8A36oAJKc57xs4FdaRRqvl5pRRrYOC1FdvNjK
      content-type:
      - application/json
      notion-version:
      - '2021-05-13'
    method: POST
    uri: https://api.notion.com/v1/databases/42706699-82ce-405c-a48a-a980e5299062/query
  response:
    content: '{"object":"list","results":[{"object":"page","id":"1802ad68-abac-4d26-803f-946a20d8296b","created_time":"2021-05-16T00:43:15.854Z","last_edited_time":"2021-05-16T03:27:00.000Z","parent":{"type":"database_id","database_id":"42706699-82ce-405c-a48a-a980e5299062"},"archived":false,"properties":{"Status":{"id":"K^[G","type":"select","select":{"id":"3","name":"Completed","color":"green"}},"Priority":{"id":"QZVK","type":"number","number":1},"Assign":{"id":"TzDf","type":"people","people":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Card
      3","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Card
      3","href":null}]}}},{"object":"page","id":"43437021-8471-4db6-bef6-a3d85546c57a","created_time":"2021-05-16T00:43:15.854Z","last_edited_time":"2021-05-16T03:27:00.000Z","parent":{"type":"database_id","database_id":"42706699-82ce-405c-a48a-a980e5299062"},"archived":false,"properties":{"Status":{"id":"K^[G","type":"select","select":{"id":"2","name":"In
      progress","color":"yellow"}},"Priority":{"id":"QZVK","type":"number","number":2},"Assign":{"id":"TzDf","type":"people","people":[]},"Name":{"id":"title","type":"title","title":[{"type":"text","text":{"content":"Card
      1","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Card
      1","href":null}]}}}],"next_cursor":null,"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5dc-BGWGCzZCTr+Ox72F070U5FDkzRg"
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com
        https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com
        js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com
        https://www.googletagmanager.com https://x.clearbitjs.com; con[...]
