interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer secret_VYG3FR8A36oAJKc57xs4FdaRRqvl5pRRrYOC1FdvNjK
      notion-version:
      - '2021-05-13'
    method: GET
    uri: https://api.notion.com/v1/users
  response:
    content: '{"object":"list","results":[{"object":"user","id":"fe0b0aff-0207-4748-af3d-49b4a4cacde4","name":"sdkpy
      notion","avatar_url":"https://lh3.googleusercontent.com/a/AATXAJxWOutZ0-hvlZM1CVejgjGHXF3QnO78A0HTX8LO=s100","type":"person","person":{"email":"notionsdkpy@gmail.com"}},{"object":"user","id":"96c2834d-8ce6-48a5-a63e-63f92cb2734f","name":"nsp","avatar_url":null,"type":"bot","bot":{}}],"next_cursor":null,"has_more":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"1a8-jmUfQ8IzJ0W9bdM+DWTrxYpV+i0"
      X-Content-Security-Policy:
      - 'script-src ''self'' ''unsafe-inline'' ''unsafe-eval'' https://gist.github.com
        https://apis.google.com https://api.amplitude.com https://widget.intercom.io
        https://js.intercomcdn.com https://logs-01.loggly.com https://cdn.segment.com
        https://analytics.pgncs.notion.so https://checkout.stripe.com https://js.stripe.com
        https://embed.typeform.com https://admin.typeform.com https://public.profitwell.com
        js.sentry-cdn.com https://platform.twitter.com https://cdn.syndication.twimg.com
        https://www.googletagmanager.com https://x.clearbitjs.com; con[...]
